@media screen and (min-width: 150rem) {
    .container {
        position: relative !important;
        left: calc(5rem) !important;
        width: calc(80vw - 20rem) !important;
        margin-left: 10rem !important;
    }
    .text {
        left: calc(5rem) !important;
    }
    .part2 {
        left: calc(5rem) !important;
    }
    .now {
        section {
            left: calc(5rem) !important;
            max-width: 140rem !important;
        }
    }
    .game--region {
        left: calc(5rem) !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 1032px) {
    .container {
        display: flex!important;
        flex-direction: column!important;
        padding: 0!important;
        margin:  0!important;
        position: relative!important;
        left: calc(75rem - 50vw)!important;
        padding-left: 10vw!important;
        justify-content: center!important;
        align-content: center!important;
        width: 80vw!important;
        .hello-world {
            margin-top: 10vh!important;
            width: 100%!important;
            max-width: calc(100% - 40px)!important;
            height: 100vw!important;
            max-height: calc(15vw - 40px)!important;
        }
        section {
            padding: 0!important;
            padding-top: 10vh!important;
            font-size: 22px !important;
            width: 100%!important;
            padding-bottom: 10vh!important;
        }
    }
    .parent {
        display: none !important;
    }
    .text--left {
        width: 80vw !important;
    }
    .vue {
        .text {
            font-size: 24px;
            text-align: left !important;
        }
        a {
            text-align: center !important;
            padding-top: 1vh;
        }
    }
    .now {
        font-size: 22px !important
    }
    .part2 {
        flex-direction: column !important;
        img {
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh !important;
            min-width: 80vw !important;
        }
    }
}
